<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="base" href="" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-640x920.png">
    <title>CariMobil</title>
    <link rel="stylesheet" href="~/Content/css/framework7.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link type="text/css" rel="stylesheet" href="~/Content/css/swipebox.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/animations.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/css/master.css" />
</head>
<body id="mobile_wrap">

    <div class="statusbar-overlay"></div>

    <div class="panel-overlay"></div>

    <div class="panel panel-left panel-reveal">
        <div class="view view-subnav">
            <div class="pages">
                <div data-page="panel-leftmenu" class="page pagepanel">
                    <div class="page-content">
                        <nav class="main_nav_underline">
                            <ul>
                                <li><a href="index-2.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/home.png" alt="" title="" /><span>Home</span></a></li>
                                <li><a href="about.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/mobile.png" alt="" title="" /><span>About</span></a></li>
                                <li><a href="home/cariler/" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/features.png" alt="" title="" /><span>Cariler</span></a></li>

                                <li><a href="#" data-popup=".popup-login" class="open-popup close-panel"><img src="~/Content/images/icons/white/lock.png" alt="" title="" /><span>Login</span></a></li>
                                <li><a href="team.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/users.png" alt="" title="" /><span>Team</span></a></li>
                                <li><a href="blog.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/blog.png" alt="" title="" /><span>Blog</span></a></li>

                                <li><a href="photos.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/photos.png" alt="" title="" /><span>Photos</span></a></li>
                                <li><a href="videos.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/video.png" alt="" title="" /><span>Videos</span></a></li>
                                <li><a href="music.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/music.png" alt="" title="" /><span>Music</span></a></li>

                                <li><a href="shop.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/shop.png" alt="" title="" /><span>Shop</span></a></li>
                                <li class="subnav"><a href="categories.html"><img src="~/Content/images/icons/white/categories.png" alt="" title="" /><span>Sub level menu</span></a></li>
                                <li><a href="cart.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/cart.png" alt="" title="" /><span>Cart</span></a></li>

                                <li><a href="tables.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/tables.png" alt="" title="" /><span>Tables</span></a></li>
                                <li><a href="chat.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/message.png" alt="" title="" /><span>Chat messages</span></a></li>
                                <li><a href="form.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/form.png" alt="" title="" /><span>Custom Form</span></a></li>


                                <li><a href="tel:012345678" class="close-panel external" data-view=".view-main"><img src="~/Content/images/icons/white/phone.png" alt="" title="" /><span>Call now!</span></a></li>
                                <li><a href="contact.html" class="close-panel" data-view=".view-main"><img src="~/Content/images/icons/white/contact.png" alt="" title="" /><span>Contact</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-right panel-reveal">
        <div class="user_login_info">

            <div class="user_thumb">
                <img src="~/Content/images/page_photo.jpg" alt="" title="" />
                <div class="user_details">
                    <p>Hoşgeldiniz, <span>Admin</span></p>
                </div>
                <div class="user_avatar"><img src="~/Content/images/avatar.jpg" alt="" title="" /></div>
            </div>

            <nav class="user-nav">
                <ul>
                    <li><a href="features.html" class="close-panel"><img src="~/Content/images/icons/white/settings.png" alt="" title="" /><span>Account Settings</span></a></li>
                    <li><a href="features.html" class="close-panel"><img src="~/Content/images/icons/white/briefcase.png" alt="" title="" /><span>My Account</span></a></li>
                    <li><a href="features.html" class="close-panel"><img src="~/Content/images/icons/white/message.png" alt="" title="" /><span>Messages</span><strong>12</strong></a></li>
                    <li><a href="features.html" class="close-panel"><img src="~/Content/images/icons/white/love.png" alt="" title="" /><span>Favorites</span><strong>5</strong></a></li>
                    <li><a href="index-2.html" class="close-panel"><img src="~/Content/images/icons/white/lock.png" alt="" title="" /><span>Logout</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="views">

        <div class="view view-main">






            @RenderBody()







        </div>
    </div>

    <script>
        var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 1000);
        }

        function showPage() {
            $('.index-alert').fadeOut();
        }
    </script>
    <!-- Login Popup -->
    <div class="popup popup-login">
        <div class="content-block">
            <h4>Giriş Yap</h4>
            <div class="loginform">
                <form id="LoginForm" method="post">
                    <input type="text" name="Username" value="" class="form_input required" placeholder="e-mail" />
                    <input type="password" name="Password" value="" class="form_input required" placeholder="şifre" />
                    <div class="forgot_pass"><a href="#" data-popup=".popup-forgot" class="open-popup">Şifremi unuttum?</a></div>
                    <input type="submit" name="submit" class="form_submit" id="submitlogin" value="Giriş Yap" />
                </form>
                <div class="signup_bottom">
                    <p>Hesabınız yoksa üye olabilirsiniz?</p>
                    <a href="#" data-popup=".popup-signup" class="open-popup">Üye Ol</a>
                </div>
            </div>
            <div class="close_popup_button">
                <a href="#" class="close-popup"><img src="~/Content/images/icons/black/menu_close.png" alt="" title="" /></a>
            </div>
        </div>
    </div>

    <!-- Register Popup -->
    <div class="popup popup-signup">
        <div class="content-block">
            <h4>Üye Ol</h4>
            <div class="loginform">
                <form id="RegisterForm" method="post">
                    <input type="text" name="Email" value="" class="form_input required" placeholder="Email" />
                    <input type="password" name="Password" value="" class="form_input required" placeholder="Password" />
                    <input type="submit" name="submit" class="form_submit" id="submitregister" value="Üye Ol" />
                </form>
            </div>
            <div class="close_popup_button">
                <a href="#" class="close-popup"><img src="~/Content/images/icons/black/menu_close.png" alt="" title="" /></a>
            </div>
        </div>
    </div>

    <!-- Forgot Password Popup -->
    <div class="popup popup-forgot">
        <div class="content-block">
            <h4>Şifre Yenileme</h4>
            <div class="loginform">
                <form id="ForgotForm" method="post">
                    <input type="text" name="Email" value="" class="form_input required" placeholder="email" />
                    <input type="submit" name="submit" class="form_submit" id="submitforgot" value="Şifremi Yenile" />
                </form>
                <div class="signup_bottom">
                    <p>şifrenizi yenilemek için lütfen e-mail adresinizi kontrol ediniz.</p>
                </div>
            </div>
            <div class="close_popup_button">
                <a href="#" class="close-popup"><img src="~/Content/images/icons/black/menu_close.png" alt="" title="" /></a>
            </div>
        </div>
    </div>

    <!-- Social Icons Popup -->
    <div class="popup popup-social">
        <div class="content-block">
            <h4>Social Share</h4>
            <p>Share icons solution that allows you share and increase your social popularity.</p>
            <ul class="social_share">
                <li><a href="http://twitter.com/" class="external"><img src="~/Content/images/icons/black/twitter.png" alt="" title="" /><span>TWITTER</span></a></li>
                <li><a href="http://www.facebook.com/" class="external"><img src="~/Content/images/icons/black/facebook.png" alt="" title="" /><span>FACEBOOK</span></a></li>
                <li><a href="http://plus.google.com/" class="external"><img src="~/Content/images/icons/black/gplus.png" alt="" title="" /><span>GOOGLE</span></a></li>
                <li><a href="http://www.dribbble.com/" class="external"><img src="~/Content/images/icons/black/dribbble.png" alt="" title="" /><span>DRIBBBLE</span></a></li>
                <li><a href="http://www.linkedin.com/" class="external"><img src="~/Content/images/icons/black/linkedin.png" alt="" title="" /><span>LINKEDIN</span></a></li>
                <li><a href="http://www.pinterest.com/" class="external"><img src="~/Content/images/icons/black/pinterest.png" alt="" title="" /><span>PINTEREST</span></a></li>
            </ul>
            <div class="close_popup_button"><a href="#" class="close-popup"><img src="~/Content/images/icons/black/menu_close.png" alt="" title="" /></a></div>
        </div>
    </div>
    <script>
        function delIdFunction(id) {
            document.getElementById("DelButton").setAttribute("href", "/cari/sil/" + id);
        }

    </script>
    <div class="popup popup-del">
        <div class="content-block">
            <h4>Cari Silme İşlemi</h4>
            <p>Silmek istediğinizden emin misiniz?</p>
            <div class="row">
                <div class="col-sm-6"><a href="#" class="close-popup btn btn-lg btn-light btn-block"> İptal </a></div>
                <div class="col-sm-6"><a href="#" id="DelButton" class="close-popup btn btn-danger btn-lg btn-block"> <i class="fa fa-trash"></i> Sil</a></div>

            </div>
            <div class="close_popup_button"><a href="#" class="close-popup"><img src="~/Content/images/icons/black/menu_close.png" alt="" title="" /></a></div>


        </div>
    </div>




    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/framework7.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/js/jquery.swipebox.js"></script>
    <script src="~/Content/js/jquery.fitvids.js"></script>
    <script src="~/Content/js/email.js"></script>
    <script src="~/Content/js/audio.min.js"></script>
    <script src="~/Content/js/my-app.js"></script>
    <script src="~/Content/js/master.js"></script>

    <script>


        $('#example').DataTable({
            searching: true,
            ordering: false,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            }
        });

    </script>





</body>

<!-- Mirrored from sindevo.com/blix/blix-main/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2019 13:25:14 GMT -->
</html>