@{
    ViewBag.Title = "Home Page";
}

<div class="pages">

    <div data-page="index" class="page homepage">
        <div class="page-content">

            <div class="navbarpages">
                <div class="navbar_left">
                    <div class="logo_text"><a href="/home/index/">CariMobil</a></div>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img src="~/Content/images/icons/white/menu.png" alt="" title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="#" data-panel="right" class="open-panel"><img src="~/Content/images/icons/white/user.png" alt="" title="" /></a>
                </div>
                <div class="navbar_right">
                    <a href="cart.html" data-view=".view-main"><img src="~/Content/images/icons/white/cart.png" alt="" title="" /><span>3</span></a>
                </div>
            </div>

            <!-- Slider -->
            <div class="swiper-container slidertoolbar swiper-init" data-effect="slide" data-parallax="true" data-pagination=".swiper-pagination" data-next-button=".swiper-button-next" data-prev-button=".swiper-button-prev">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" style="background-image:url(../../Content/images/slide1.jpg);">
                        <div class="slider_trans">
                            <div class="slider-caption">
                                <span class="subtitle" data-swiper-parallax="-60%">LOREM IPSUM</span>
                                <h2 data-swiper-parallax="-100%">DOLOR SIT AMET</h2>

                                <p data-swiper-parallax="-30%">Design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image:url(../../Content/images/slide2.jpg);">
                        <div class="slider_trans">
                            <div class="slider-caption">
                                <span class="subtitle" data-swiper-parallax="-60%">MULTIPURPOSE DESIGNS</span>
                                <h2 data-swiper-parallax="-100%">WITH BEAUTIFUL</h2>

                                <p data-swiper-parallax="-30%">You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image:url(../../Content/images/slide3.jpg);">
                        <div class="slider_trans">
                            <div class="slider-caption">
                                <span class="subtitle" data-swiper-parallax="-60%">WEB AND NATIVE</span>
                                <h2 data-swiper-parallax="-100%">READY FOR APPS</h2>
                                <p data-swiper-parallax="-30%">You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

            <div class="swiper-container-toolbar swiper-toolbar swiper-init" data-effect="slide" data-slides-per-view="1" data-slides-per-group="1" data-space-between="0" data-pagination=".swiper-pagination-toolbar">
                <div class="swiper-pagination-toolbar"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide toolbar-icon">
                        <a href="about.html" data-view=".view-main"><img src="~/Content/images/icons/blue/users.png" alt="" title="" /><span>ABOUT</span></a>
                        <a href="/cari/index" data-view=".view-main"><img src="~/Content/images/icons/blue/features.png" alt="" title="" /><span>CARİLER</span></a>
                        <a href="#" data-popup=".popup-login" class="open-popup"><img src="~/Content/images/icons/blue/lock.png" alt="" title="" /><span>LOGIN</span></a>
                        <a href="blog.html" data-view=".view-main"><img src="~/Content/images/icons/blue/blog.png" alt="" title="" /><span>JOURNAL</span></a>
                        <a href="photos.html" data-view=".view-main"><img src="~/Content/images/icons/blue/photos.png" alt="" title="" /><span>PHOTOS</span></a>
                        <a href="contact.html" data-view=".view-main"><img src="~/Content/images/icons/blue/contact.png" alt="" title="" /><span>CONTACT</span></a>
                    </div>
                    <div class="swiper-slide toolbar-icon">
                        <a href="shop.html" data-view=".view-main"><img src="~/Content/images/icons/blue/shop.png" alt="" title="" /><span>SHOP</span></a>
                        <a href="music.html" data-view=".view-main"><img src="~/Content/images/icons/blue/music.png" alt="" title="" /><span>MUSIC</span></a>
                        <a href="form.html" data-view=".view-main"><img src="~/Content/images/icons/blue/form.png" alt="" title="" /><span>CUSTOM FORM</span></a>
                        <a href="#" data-popup=".popup-social" class="open-popup"><img src="~/Content/images/icons/blue/twitter.png" alt="" title="" /><span>SOCIAL</span></a>
                        <a href="videos.html" data-view=".view-main"><img src="~/Content/images/icons/blue/video.png" alt="" title="" /><span>VIDEOS</span></a>
                        <a href="tel:12345678" class="external"><img src="~/Content/images/icons/blue/phone.png" alt="" title="" /><span>CALL NOW!</span></a>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
